html,body {
  height: 100%;
  margin: 0;
  padding:0;
}

body {
  background-image: url("http://www.designyourway.net/diverse/darkpat/COLOURlovers.com-Background1.jpg")
}

label {
  display: block;
}

form {
  margin-right: auto;
  margin-left: auto;
}

textarea {
  width: 100%;
}

.title_main_section {
  color: #4aaaa5
}

.nav {
  list-style: none;
  display: flex;
  background: white;
  margin-top: 0;
  height: 80px;
  align-items: center;
}

.main_container {
  height: auto;
  background: white;
  margin:2em;
  padding:.5em;
}

.bio_image {
  max-height: 300px;
}

/* Portfolio css*/
.portfolio_image {
  max-width: 200px;
  max-height: 200px;
}

.wrapper_portfolio_image {
position: relative;
 max-width: 200px; 
}

.img_header {
  position: absolute;
  bottom: 0;
  text-align: center;
  background: green;
  width: 100%;
}

@media screen and (max-width: 640px) {
  .nav {
    justify-content: space-around;
  }

  .bio_image {
    width: 100%;
  }

  .portfolio_image {
    min-width: 100%;
  }

  .wrapper_portfolio_image {

  }

}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #666666;
  text-align: center;
  border-top: 5px solid #4aaaa5;
}



.test {
  display: relative;
}
s

@media screen and (min-width: 640px) {
  .nav {
    justify-content: space-around;
  }

  .bio_image {
    float: left;
    margin-right:1em;
  }
  .col {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .portfolio_image {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }

}
